---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

I am investigating the relationship between sound and haptic effects, aiming to provide haptic feedback based on audio from media at suitable moments or generate diverse haptic sensations beyond simple feedback.
My research is grounded in the tight correlation between auditory and tactile senses.   
These interests drive me to design aesthetically pleasing sensory experiences.
Ultimately, I aspire to deliver users with visually, auditorily, and tactically refreshing, diverse, and delightful experiences.

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

